
.homecontainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.homecontainer image {
  width: 100%;
}


.homecontainer h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 633px) {
  .homecontainer h1 {
    font-size: 30px;
  }
}