.containerredes{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
  gap: 10px;
}

.redestexto{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.redestexto::before,
.redestexto::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: black;
}

.containerredes h1 {
  font-size: 40px;
}

.redes {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 30px;
  padding: 5rem;
}